<mat-card>
  <mat-card-title>
    {{translateRoute + 'TITLE' | translate }}
  </mat-card-title>

  <mat-horizontal-stepper
    #stepper
    class="user-registration-stepper"
    [linear]="true">
    <mat-step
      #firstStep
      label="{{ translateRoute + 'STEPS.USER_RECOGNITION.TITLE' | translate}}"
      [completed]="false"
      [editable]="false">
      <app-password-reminder-user-recognition
        (goToNextStep)="goToNextStep($event,stepper, firstStep)">
      </app-password-reminder-user-recognition>
    </mat-step>
    <mat-step
      label="{{ translateRoute + 'STEPS.USER_ANSWER.TITLE' | translate}}">
      <app-password-reminder-user-answer [data]="questionModel">
      </app-password-reminder-user-answer>
    </mat-step>
  </mat-horizontal-stepper>

</mat-card>
