<app-async-page [showSpinner]="showSpinner">
  <mat-card>
    <div class="container">
      <mat-card-title>
        {{translateRoute + 'TITLE' | translate }}
      </mat-card-title>

      <app-input [configuration]="emailInput"></app-input>

      <app-input [configuration]="passwordInput"
                 [hintTemplate]="passwordHint">
      </app-input>

      <ng-template #passwordHint>
        {{entity.password.value?.length || 0}}/10
      </ng-template>

      <app-input [configuration]="repeatedPasswordInput"></app-input>

      <div class="row">
        <div class="col-6">
          <app-input [configuration]="firstNameInput"></app-input>
        </div>
        <div class="col-6">
          <app-input [configuration]="lastNameInput"></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <app-input [configuration]="zipCodeInput"></app-input>
        </div>
        <div class="col-8">
          <app-input [configuration]="cityInput"></app-input>
        </div>
      </div>
      <app-input [configuration]="streetAndNumberInput"></app-input>

      <app-input [configuration]="phoneNumberInput"></app-input>

      <app-error [messages]="errors"></app-error>

      <div class="log-in-suggestion">
        {{translateRoute + 'LOG_IN_QUESTION' | translate}}
        <a [routerLink]="userRouting.logIn.absolutePath">
          {{translateRoute + 'LOG_IN_OFFER' | translate}}
        </a>
      </div>

      <app-button [disabled]="entity.whole.invalid || showSpinner"
                  [configuration]="button">
      </app-button>
    </div>
  </mat-card>
</app-async-page>
