<div class="background">
  <div class="center-container">
    <app-async-page [showSpinner]="disablePage">
      <mat-card>
        <mat-card-header class="card-header">
          <mat-card-title>{{translateRoute + 'HEADER' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{translateRoute + 'CONTENT_FIRST_SENTENCE' | translate}}
            <br>
            {{translateRoute + 'CONTENT_SECOND_SENTENCE' | translate}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <app-button [configuration]="buttonConfig"></app-button>
        </mat-card-actions>
      </mat-card>
    </app-async-page>
  </div>
</div>
