<app-async-page [showSpinner]="showSpinner">
  <mat-card>
    <mat-card-title>
      {{translateRoute + 'TITLE' | translate }}
    </mat-card-title>

    <app-input [configuration]="emailInput"></app-input>

    <app-input [configuration]="oldPasswordInput"></app-input>

    <app-input [configuration]="newPasswordInput"
               [hintTemplate]="passwordHint">
    </app-input>

    <ng-template #passwordHint>
      {{entity.newPassword.value?.length || 0}}/10
    </ng-template>

    <app-input [configuration]="repeatedNewPasswordInput"></app-input>

    <app-error [messages]="errors"></app-error>

    <app-button [disabled]="disableButton"
                [configuration]="button">
    </app-button>

    <div class="back-to-log-in">
      <a [routerLink]="userRouting.logIn.absolutePath">
        {{translateRoute + 'BACK_TO_LOG_IN' | translate}}
      </a>
    </div>

  </mat-card>
</app-async-page>
