<app-async-page [showSpinner]="showSpinner">
  <mat-card *ngIf="initialized">
    <div class="container">
      <mat-card-title>
        {{translateRoute + 'CREATOR_TITLE' | translate }}
      </mat-card-title>

      <app-input [configuration]="titleInput"></app-input>

      <app-input [configuration]="descriptionInput"></app-input>

      <div class="row">
        <div class="col-6">
          <app-select [configuration]="participantsSelect"></app-select>
        </div>
        <div class="col-6">
          <app-input [configuration]="pricePerSingleParticipantInput"></app-input>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <app-input [configuration]="mealInput"></app-input>
        </div>
        <div class="col-6">
          <app-input [configuration]="mealPricePerPersonInput"
                     [disabled]="!entity.meal.value">
          </app-input>
        </div>
      </div>

      <app-input [configuration]="departureLocationInput"></app-input>

      <app-input [configuration]="tripLocationInput"></app-input>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>{{translateRoute + 'TRIP_RANGE_DATE' | translate}}</mat-label>
            <mat-date-range-input [formGroup]="entity.whole"
                                  [min]="entity.startDate.min"
                                  [rangePicker]="picker">
              <input matStartDate
                     [formControl]="entity.startDate.formControl"
                     [placeholder]="translateRoute + 'TRIP_START_DATE' | translate">
              <input matEndDate
                     [formControl]="entity.endDate.formControl"
                     [placeholder]="translateRoute + 'TRIP_END_DATE' | translate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error *ngIf="entity.startDate?.error?.isAny || entity.endDate?.error?.isAny">
              {{(entity.startDate?.error?.message
              ? entity.startDate?.error?.message : entity.endDate?.error?.message) | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <app-select [configuration]="formOfTransportSelect"></app-select>
        </div>
      </div>

      <p class="select-guide">{{translateRoute + 'SELECT_GUIDE' | translate}}</p>
      <app-table [configuration]="guidesTableConfig"></app-table>

      <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-12">
          <app-input [configuration]="mainImageUrlInput"></app-input>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <img class="main-image" [src]="showMainImage ? entity.mainImageUrl.value : ''">
        </div>
      </div>


      <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-12">
          <app-input [configuration]="otherImageUrlInput"></app-input>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <app-button [disabled]="entity.otherImageUrl.formControl.invalid || !entity.otherImageUrl.value"
                      [configuration]="addOtherImageUrlButton">
          </app-button>
        </div>
      </div>

      <app-table [configuration]="otherImagesTableConfig"></app-table>

      <app-error [messages]="errors"></app-error>

      <div class="row">
        <app-button [disabled]="disablePersistButton"
                    [configuration]="persistButton"
                    class="center-button">
        </app-button>
      </div>

    </div>
  </mat-card>
</app-async-page>
