<strong>{{data?.question?.text}}</strong>

<app-input [configuration]="answerInput"></app-input>

<p *ngIf="correctAnswer">
  {{stepTranslateRoute + 'USER_PASSWORD' | translate}}: <strong>{{correctAnswer}}</strong>
</p>

<app-error [messages]="errors"></app-error>

<div class="back-to-log-in">
  <a [routerLink]="userRouting.logIn.absolutePath">
    {{translateRoute + 'BACK_TO_LOG_IN' | translate}}
  </a>
</div>

<app-button [disabled]="disableButton"
            [configuration]="button">
</app-button>
