<app-async-page [showSpinner]="showSpinner">
  <mat-card>
    <h1 class="mat-h1">{{translateRoute + 'TITLE' | translate }}</h1>

    <app-input [configuration]="emailInput"></app-input>

    <app-input [configuration]="passwordInput"></app-input>

    <app-error [messages]="errors"></app-error>

    <div class="register-suggestion">{{translateRoute + 'REGISTRATION_QUESTION' | translate}}
      <a [routerLink]="accountRouting.registration.absolutePath">
        {{translateRoute + 'REGISTRATION_OFFER' | translate}}
      </a>
    </div>

    <app-button [disabled]="disableLogInButton"
                [configuration]="button">
    </app-button>
  </mat-card>
</app-async-page>
