<div class="app-sidebar-nav">
  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="'side'" [opened]="true" [fixedInViewport]="true">
      <div class="logo" (click)="navigateToHome()">
        <div>
          <img src="assets/images/Logo.png">
        </div>
        <div class="logo-text">
          <p class="h4">Wycieczko</p>
          <p class="h4">Reservator</p>
        </div>
      </div>

      <mat-accordion displayMode="flat" multi>
        <div *ngFor="let menuOption of menu"
             class="menu-option"
             [class.active-menu-option]="menuOption.isActive">
          <mat-expansion-panel
            [hideToggle]="true"
            [expanded]="menuOption.isActive">
            <mat-expansion-panel-header
              #moHeader
              (click)="onMenuOptionClick(moHeader, menuOption)"
              [expandedHeight]="expandedHeight">
              <mat-panel-title [class.active-menu-element]="menuOption.isActive"
                               [class.active-final-menu-element]="menuOption.isFianlActive">
                <mat-icon *ngIf="menuOption.icon">{{menuOption.icon}}</mat-icon>
                <span class="menu-title menu-title-first">{{menuOption.translateRoute | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="nav-conatainer">
          <a mat-button
             *ngIf="authenticationService.isUserLogIn"
             [routerLink]="'../'"
             (click)="authenticationService.logout()">
            <mat-icon class="navigation-icon-padding">exit_to_app</mat-icon>
            <span class="nav-caption">{{translateRoute + 'NAV_TOP_BAR.LOG_OUT' | translate}}</span>
          </a>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
