@import "src/assets/scss/colors";

.app-sidebar-nav {
  height: 100%;

  mat-sidenav-container {
    height: 100%;
  }

  mat-sidenav-content {
    overflow: hidden;
  }

  ::ng-deep .mat-expansion-panel {
    margin: 1px;
    border-radius: 0 !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .second-level {
    ::ng-deep mat-expansion-panel {
      padding-left: 15px !important;
    }
  }

  mat-sidenav {
    background-color: $app-primary !important;
  }

  ::ng-deep .mat-toolbar {
    background-color: $app-primary;
  }
}

mat-expansion-panel {
  box-shadow: none !important;
}

.menu-title {
  padding-left: 10px;
}

.active-menu-element {
  color: $app-secondary-dark;
}

.active-final-menu-element {
  color: $app-secondary-light !important;
}

.active-first-level {
  mat-expansion-panel-header {
    background: rgba(0, 0, 0, .02) !important;
  }
}

.active-second-level {
  mat-expansion-panel-header {
    background: rgba(0, 0, 0, .06) !important;
  }
}

.active-third-level {
  mat-expansion-panel-header {
    background: rgba(0, 0, 0, .1) !important;
  }
}

.nav-conatainer {
  width: 100%;

  > a {
    float: right;

    mat-icon {
      padding-right: 26px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
  cursor: pointer;

  > div > img {
    height: 70px;
    margin-right: 5px;
  }

  > .logo-text {
    margin: auto 0;

    > p {
      color: $app-white-smoke;
      margin: 0;
      padding: 0;
    }
  }
}

.menu-title-first {
  font-size: larger;
}
