@import "src/assets/scss/colors";

.error-container {
  margin: 20px 0;
  color: $app-error;
}

.error-text {
  text-align: left;
  padding-left: 0;
}

.error-icon {
  max-width: 55px;
}

.error-text-list {
  margin: 0;
  padding-left: 20px;
}

.error-text-one-line {
  padding-bottom: 6px;
}
